services:
  caddy:
    image: docker.io/caddy
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - "./docker/caddy:/etc/caddy"
      - "./public:/srv/public:ro"
    # environment:
    #   - DOMAIN=example.com

  php:
    image: docker.io/php:8.5-fpm-alpine
    restart: unless-stopped
    volumes:
      - "./src:/srv/src:ro"

  db:
    image: docker.io/mariadb:12.1
    restart: unless-stopped
    ports:
      - "3306:3306"  # remove later
    env_file:
      - ./db.env

  phpmyadmin:
    image: docker.io/phpmyadmin:5.2
    restart: unless-stopped
    ports:
      - "8080:80"
