# http://{$DOMAIN:localhost}:80 {
http://:80 {
    log

    handle_path /public/* {
        root * /srv/public
        file_server
    }

    handle {
        root * /srv/src

        php_fastcgi php:9000 {
            try_files {path} {path}/index.php =404
        }
    }
}