body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: deepskyblue;
}

.navbar > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* margin-right: 10px; */
}

/* .navbar > ul > :nth-child(2) {
    margin-right: auto;
} */

/* .navbar-right-separator {
    margin-right: auto;
} */

.navbar-separator {
    margin-right: auto;
}

.navbar > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

main {
    margin: 10px;
}


table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px 10px;
}

.practice-container {
    display: grid;
    justify-items: center;
}

.card {
    display: flex;
    border-radius: 10px;
    background-color: deepskyblue;
    width: 300px;
    height: 180px;
    /* margin: auto; */
}

.card > p {
    margin: auto;
    font-size: 2rem;
    text-align: center;
}
